MACOSX_SDK_VERSION:  # [osx and x86_64]
  - 10.15            # [osx and x86_64]
MACOSX_DEPLOYMENT_TARGET:  # [osx and x86_64]
  - "10.15"                # [osx and x86_64]
channel_sources:
  - conda-forge,tiledb
channel_targets:
  - tiledb main
channel_priority:
  - strict
# conda-forge has migrated to fmt 10 and spdlog 1.12. We need fmt 9 to install
# into our existing TileDB Cloud conda environments, so we are going to delay
# the migration of this feedstock.
fmt:
  - 9
spdlog:
  - 1.11
zip_keys:
  - fmt
  - spdlog
