# https://conda-forge.org/docs/maintainer/knowledge_base/#requiring-newer-macos-sdks
# https://conda-forge.org/news/2024/03/24/stdlib-migration/
MACOSX_SDK_VERSION:  # [osx and x86_64]
  - 14.0            # [osx and x86_64]
c_stdlib_version:              # [osx and x86_64]
  - 11.0                       # [osx and x86_64]
channel_sources:
  - conda-forge,tiledb
channel_targets:
  - tiledb main
channel_priority:
  - strict
