# This pipeline runs nightly. It updates the recipe to build the latest commit
# from "main" in the TileDB-SOMA repo, and force pushes to the branch
# "nightly-build", which triggers the feedstock builds on Azure. Because
# `upload_on_branch: main` is set in `conda-forge.yml`, any binaries produced by
# this nightly test build are never uploaded to anaconda.org
name: Trigger nightly build
on:
  push:
    paths:
      - '.github/workflows/nightly.yml'
  schedule:
     - cron: "27 1 * * *" # Every night at 1:27 AM UTC (8:27 PM EST; 9:27 PM EDT)
  workflow_dispatch:
jobs:
  nightly:
    runs-on: ubuntu-latest
    env:
      TZ: "America/New_York"
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Update recipe source to use Git repo
        run: bash .github/scripts/nightly/update-recipe.sh
      - name: Update feedstock
        run: bash .github/scripts/nightly/update-feedstock.sh
      - name: Add and commit
        run: bash .github/scripts/nightly/add-and-commit.sh
      - name: Install conda-smithy to rerender
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: false
          environment-name: env
          extra-specs: conda-smithy
          channels: conda-forge
          cache-env: true
      - name: Rerender feedstock
        shell: bash -l {0}
        run: conda smithy rerender --commit auto
      - name: Push update to GitHub
        # if: ${{ github.ref == 'refs/heads/main' && github.repository == 'TileDB-Inc/tiledbsoma-feedstock' && github.event_name != 'pull_request' }}
        run: git push --force origin HEAD:nightly-build
